<div class="container border border-info" style="height: 40rem;margin-left: 10rem;padding: 0%;margin-top: 3rem;border-radius: 2rem 2rem 1rem 1rem;border: 1px black;">
<div>
  <tabset>
    <tab heading="Ajouter contact" id="tab1">
      <div class="row" style="margin-top: 1rem">
        <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
          <label for="file" class="label-file" style="font-size: 25px;margin-left: 3rem;position: absolute">Soumettre une liste</label>
          <label style="margin-left: 28rem;font-size: 18px;color: black;margin-top: 8px;">{{fileName}}</label>
          <input id="file" class="input-file" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
          <button *ngIf="listeExcel.length>0" class="btn btn-success" (click)="fayelene()">Payer</button>
        </div>
    </div>
    <div style="width:95%;margin-left:0.5em;margin-right:0.5em;margin-top:2em">
        <table *ngIf="listeExcel.length>0" class="table table-codensed table-striped">
            <thead >
              <tr>
                <th scope="col">PRENOM</th>
                <th scope="col">NOM </th>
                <th scope="col">TELEPHONE</th>
                <th scope="col"> ACTION </th>
              </tr>
            </thead>
            <tbody>
                                     
              <tr *ngFor="let l of listeExcel ; let i=index">
                  <td >{{l.prenom}}</td>
                  <td >{{l.nom}}</td>
                  <td >{{l.telephone}}</td>
                  <button (click)="payeOne(l,i)" class="btn btn-primary">Payer</button> 
                </tbody>
          </table>
    </div>   
    </tab>
    <tab heading="Nouvelle campagne">
      <div class="row" style="margin-top: 1rem">
        <div class="col-6">
            <div class="control-group">
                  <label class="control-label" style="font-size: 1rem" >Group à envoyer</label>
                <select class="form-control" [(ngModel)]="groupSelect" style="margin-top: 1rem" name="group" >
                  <option value="">Selection....</option>
                  <option *ngFor="let g of listeGroup" value="{{g.nom}}">{{g.nom}}</option>
                </select>
              </div>
        </div>
        <div *ngIf="groupSelect != '' " class="col-6">
            <div class="form-group">
              <label for="comment">Message:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
      </div>
   

    </tab>
  </tabset>
</div>
</div>
 
