<div style="background-image: url('../assets/backLogin.jpeg');opacity: 0.2;height: 1000px;width: 100%;position: absolute"></div>
<div class="container col-md-12">
  <div class="">
    <div class="">
      <div class="row"  style="margin:10%;margin-top: 10rem">
        <div class="col-md-7 col-xs-12 col-sm-12 ">
            <div class="login-panel panel panel-default">
                <div >
                    <h2 >Authentifiez-vous SVP</h2>
                </div>
                <div class="panel-body">
                    <form class="form-signin" (ngSubmit)="onConnect()"  #patientForm="ngForm">
                      <div  *ngIf="Error">
                            <h4 class="alert alert-danger">Login ou mot de passe incorrecte</h4>
                      </div>
                      <div class="form-group">
                        <label class="control-label"><strong>Login</strong></label>
                         <input class="form-control" type="text" placeholder="Donner votre login" name="login" required [(ngModel)]="login" name="login">
                        
                      </div>
                      <div class="form-group">
                        <label class="control-label"><strong> Password</strong></label>
                         <input class="form-control"  placeholder="Donner votre mot de passe" type="password" name="password" required [(ngModel)]="password" name="password">
                        
                      </div>
                     <p></p>
                     <div class="form-group">
                       <input type="submit" class="btn btn-lg btn-success btn-block text-uppercase"  value="Connexion">
                     </div>
                    </form>
                </div>
            </div>
    </div>
  </div>
</div>