<p></p>
<div class="container-fluid"  style="padding: 0;margin: 0;margin-left: -1rem;">
  <div [ngClass]='changeBackThem()'></div>
 <!-- <nav class="sidebar-nav">
    <ul>
      <li style="background-color: whitesmoke">ok</li>
    </ul>
  </nav> -->

  <div class="panel panel-info">
        <div class="panel panel-heading"></div>
        <div class="panel panel-body">
          
          <nav class="nav navbar-default navbar-fixed-top myNav" [ngClass]=' changeThem()' style="margin-top:-1rem;">
              <a class="nav-item nav-link active" style="border-radius: 1rem 0rem 1rem 1rem;" href="#accueil" data-toggle="tab">
                <span class="badge myBadge" style="font-size: 150%;margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"><i class="fa fa-home" style="font-size:24px"></i>
                  Accueil</span>
              </a>
              <a class="nav-item nav-link" href="#suivi" data-toggle="tab" style="border-radius: 1rem 0rem 1rem 1rem;">
                <!--<span class="badge myBadge" (click)="hideNotif()" style="font-size: 150%;margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;">Suivi</span>
                <span *ngIf="newNotif > 0" (click)="hideNotif()" class="dot" style="position: absolute;text-align: center;border: 1px solid white ;box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">{{newNotif}}</span>-->
              </a>
              <div class="dropdown">
                <button style="float: right;margin-top: 1rem;margin-right: 1rem" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  setting
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="sombre()"  style="cursor: pointer;">Sombre</a>
                  <a class="dropdown-item" (click)="claire()" style="cursor: pointer;">Claire</a>
                </div>
              </div>
             <!-- <div class="dropdown" style="margin-left: 55rem">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Paramétre
                </button>
                <div >
                  <div class="dropdown-menu collapsible-header" aria-labelledby="dropdownMenuButton">
                   <a class="btn btn-defaul" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Théme</a>
                  </div>
                  <div class="collapsible-body" id="multiCollapseExample1">
                  <a  class="dropdown-item" (click)="sombre()"  style="cursor: pointer;">Sombre</a>
                  <a  class="dropdown-item" (click)="claire()" style="cursor: pointer;">Claire</a>  
                 </div>
                </div>
              </div>-->
            </nav>
            <div class="tab-content">
                <div class="tab-pane " id="Suivi">
                  <label for="file" class="label-file" style="font-size: 25px;margin-left: 3rem;position: absolute">Soumettre une liste</label>
                  <label style="margin-left:1rem;font-size: 18px;color: black">{{fileName}}</label>
                  <input id="file" class="input-file" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">
                  <div class="row" style="margin-left: 2rem">
                    <div  class="col-md-4 col-sm-2" style="margin-top: 1rem;">
                      <div class="card card-stats myCard" [ngClass]=' changeThem()'>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-6 col-sm-6">
                              <div class="numbers">
                                <p class="card-category" >Recouvrement</p>
                                <h2 class="card-title" >{{nbRecouvrement}}</h2>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="icon-big text-center">
                                    <div class="icon-warning">
                                    <i (click)="tabRecouvrement();openModal(template)" class="fa fa-list-alt" style="font-size: 62px"></i> <p (click)="tabRecouvrement();openModal(template)" style="cursor: pointer;">voir la liste</p> 
                                    </div> 
                                </div>
                              </div>
                          </div>
                          <div class="card-footer" style="background-color: #A52A2A">
                            <div class="stats" >
                              <i (click)="update()" style="color: white" class="fa fa-refresh"></i>
                              <span style="color: white;margin-left: 3px">Update now</span> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4" style="margin-top: 1rem;" >
                      <div class="card card-stats myCard" [ngClass]=' changeThem()'>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                  <div class="numbers">
                                    <p class="card-category" >Rendez-vous</p>
                                    <h2 class="card-title" >{{nbRV}}</h2>
                                  </div>
                                </div>
                                <div class="col-6">
                                    <div class="icon-big text-center">
                                        <div class="icon-warning">
                                        <i (click)="tabRendezVous();openModal(template)" class="fa fa-list-alt" style="font-size: 62px"></i> <p (click)="tabRendezVous();openModal(template)" style="cursor: pointer;">voir la liste</p> 
                                        </div> 
                                    </div>
                                  </div>
                            </div>
                          <div class="card-footer" style="background-color: #007bff">
                              <div class="stats" >
                                <i (click)="update()" style="color: white" class="fa fa-refresh"></i>
                                <span style="color: white;margin-left: 3px">Update now</span> 
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4" style="margin-top: 1rem;">
                        <div class="card card-stats myCard" [ngClass]=' changeThem()'>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-6">
                                    <div class="numbers">
                                      <p class="card-category" >Finalisés</p>
                                      <h2 class="card-title" >{{nbFinalaliser}}</h2>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="icon-big text-center">
                                      <div class="icon-warning" >
                                        <i (click)="tabFinaliser();openModal(template)" class="fa fa-list-alt" style="font-size: 62px"></i> <p (click)="tabFinaliser();openModal(template)" style="cursor: pointer;">voir la liste</p> 
                                      </div> 
                                    </div>
                                  </div>
                              </div>
                              <div class="card-footer" style="background-color: darkorange">
                                <div class="stats" >
                                  <i (click)="update()" style="color: white" class="fa fa-refresh"></i>
                                  <span style="color: white;margin-left: 3px">Update now</span> 
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="row"  [ngClass]=' changeThem()' style="margin-bottom: 2rem;margin-left: 3rem;margin-right: 3rem; box-shadow: rgba(121,121,121,.35) 1px 10px 20px;background-color: white;height: 74px;margin-top: 1rem;padding: 0;width: 677px">
                            <div class="col-5">
                              <label  class="control-label" for="dateJour">Date par jour</label>
                              <div class="row">
                              <input  type="date" id="datejour" style="width: 9rem;margin-left: 5px" name="datejour" [(ngModel)]="selectionjour" />
                                <i  class="btn btn-primary fa fa-search" style="margin-left: 0.5rem" (click)="Recherche()" ></i>
                              </div>
                            </div>
                            <div class="col-7" >
                              <label style="margin-left: 2rem" class="control-label">Date par intervalle</label>
                              <div class="row" style="margin-left: -3rem">
                                  <input  name="intervalledateinit" style="width: 9rem"  type="date" [(ngModel)]="intervalledateinit" >
                                   <span style="color: white">à</span> 
                                  <input name="intervalleddatefinal" style="width: 9rem;margin-left: 0.5rem; margin-right: 1rem" type="date" [(ngModel)]="intervalleddatefinal">
                                  <i  class="btn btn-primary fa fa-search" type="button" (click)="rechercheIntervalle()" ></i>
                              </div>
                            </div>
                          </div>
                        <div  id="chart1"  class="col-12" style=" margin-top: 1rem; " >
                          <div  [ngClass]=' changeThem()'  style=" width: 680px; height: 513px; text-align: center;padding:0%;margin-left: 25%; box-shadow: rgba(121,121,121,.35) 1px 10px 20px;background-color: white;margin-left: 2rem;">
                            <canvas  id="myChart2" width="680px" height="400" ></canvas>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div   id="chart" class="col-12" style=" margin-top: 1rem; " >
                          <div  [ngClass]=' changeThem()' style=" width: 600px; height: 600px; text-align: center;padding:0%;margin-left: 25%; box-shadow: rgba(121,121,121,.35) 1px 10px 20px;background-color: white;margin-left: 2rem;">
                            <canvas  id="myChart" width="400" height="400" ></canvas>
                          </div>
                        </div>
                    </div>
                    
                  </div>
                   <!-- <div class="row" style="margin-top:1rem">
                        <div class="col-2">
                          <span class="badge badge-success" (click)="soumettreClieck()" style="font-size: 110%;cursor: pointer;">Soumettre une liste</span>
                        </div>
                        <div class="col-4" *ngIf="soumettre == 1">
                          <input  class="form-control" style="border: transparent" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">
                        </div>
                        <div class="col-6" style="text-align: left" *ngIf="soumettre == 1">
                          <button class="col-3" type="submit" (click)="soumission()"  class="btn btn-warning ">Fermer</button>
                        </div>
                      </div>-->

                     
                </div>
                <div class="tab-pane active" id="accueil">
                  <div class="row">
                    <div class="col-10">
                      <label for="file" class="label-file" style="font-size: 25px;margin-left: 3rem;position: absolute">Soumettre une liste</label>
                      <label style="margin-left: 18rem;font-size: 20px;color: darkorange;position: absolute;">{{fileName}}</label>
                      <input id="file" class="input-file" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">     
                    </div>
                    <div class="col-2">
                      <button *ngIf="boutonFaye == 1" class="btn btn-success" style="margin-left: 8rem;position: absolute;margin-top: 5px;" (click)="fayelene()">Payer</button>
                    </div>
                  </div>
                    <div  id="tab" class="col-12">
                        <table class="table table-striped table-dark " style="margin-top: 3rem;position: absolute;width: 100%;margin-left: 1rem;">
                            <thead >
                            <tr>
                              <th scope="col">Prenom</th>
                              <th scope="col">Nom</th>
                              <th scope="col">Telephone</th>
                              <th scope="col">Zone</th>
                              <th scope="col">Salaire</th>
                              <th scope="col">Jour d'absence</th>
                              <th scope="col">Etat</th>

                            </tr>
                          </thead>
                          <tbody>
                            <!--| filterBy: ['dateEnregistremet','client']: filtre-->
                          <tr *ngFor="let l of listSalary ; let i=index">
                              <td >{{l.prenom}}</td>
                              <td >{{l.nom}}</td>
                              <td >{{l.telephone}}</td>
                              <td >{{l.zone}}</td>
                              <td >{{l.salaire}}</td>
                              <td >{{l.jAbsence}}</td>
                              <td *ngIf="l.etat == 1"><i class="fa fa-check-square-o" style="font-size:25px;color: green"></i></td>
                              <td *ngIf="l.etat == 0"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></td>
                              <td *ngIf="l.etat == 2">-</td>
                             
                            </tbody>
                        </table>
                    </div>
      
                </div>
            </div>
        </div>
        
        <ng-template #template >
            <div class="modal-header">
              <h4 class="modal-title pull-left">Gestion recouvrement DER</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Rendez-vous</th>
                    </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let l of listRecouvremet ; let i=index">
                      <td >{{getInfo1(l.client,'prenom')}} {{getInfo1(l.client,'nom')}} </td>
                      <td >{{getInfo1(l.client,'montant')}}</td>
                      <td >{{getInfo1(l.client,'telephone')}}</td>
                      <td >{{getInfo1(l.client,'adresse')}}</td>
                      <td *ngIf="l.heureRV != null">{{l.heureRV}}</td>
                      <td *ngIf="l.heureRV == null"><strong>-</strong></td>
                
                    </tr>
                  </tbody>
                </table>
            </div>
          </ng-template>
              
        <ng-template #template1 >
          <div class="modal-header">
            <h4 class="modal-title pull-left">Théme</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">Claire</li>
                <li class="list-group-item">Sombre</li>
              </ul>
          </div>
        </ng-template>
    </div>
</div>